.container{
    width: 87%;
    margin-left: 417px;
    margin-top: 70px;
}
.clearButton{
    margin-left: 61px;
    border-radius: 6px;
    padding: 5px;
    width: 80px;
    font-weight: bold;
    border:0.5px;
}
.heading{
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 1.3em;
}